@import "tailwindcss";

body {
  background: #0f0f10;
  color: #fff;
}

input,
textarea {
  color: #fff;
}

@keyframes glitch {
  0% {
    text-shadow: 2px 0 red;
  }
  20% {
    text-shadow: -2px 0 blue;
  }
  40% {
    text-shadow: 2px 2px green;
  }
  60% {
    text-shadow: -2px -2px red;
  }
  80% {
    text-shadow: 2px -2px blue;
  }
  100% {
    text-shadow: -2px 2px green;
  }
}

.glitch-text {
  animation: glitch 1s infinite;
  position: relative;
}

.glitch-sub {
  animation: glitch 2s infinite alternate;
}
