@import "tailwindcss";

body {
  background: #0f0f10;
  color: #fff;
}

input,
textarea {
  color: #fff;
}

.custom-slider {
  height: 6px;
  background: #333;
  border-radius: 9999px;
  margin-top: 8px;
  margin-bottom: 8px;
  position: relative;
}

.custom-track {
  background: #ec4899;
  height: 100%;
  border-radius: 9999px;
}

.custom-thumb {
  height: 18px;
  width: 18px;
  background: #fff;
  border: 2px solid #ec4899;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -6px;
  box-shadow: 0 0 0 3px rgba(236, 72, 153, 0.3);
  transition: all 0.3s ease;
}

/* Hide native scrollbar but allow smooth scrolling */
.custom-scroll::-webkit-scrollbar {
  width: 8px;
}
.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

/* For Firefox */
.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}
